target/
*.class
*.log

# IDE
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# OS
.DS_Store

# Env
.env

# Ignore Maven and LaTeX Zips
apache-maven-3.9.6/
maven.zip
PharmaChain-Engineering-Guide-LaTeX-Source.zip
